<ion-grid>
  <div *ngIf="!socketsService.inARoom" style="margin-top:150px">
    <ion-row>
      <ion-col>
        <ion-button color="secondary" shape="round" size="large" (click)="createRoom()">Create room</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:100px;">
      <ion-col>
        <ion-title>Join a room :</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input maxlength="20" placeholder="Room ID" id="roomID" [(ngModel)]="inputRoomID"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{socketsService.output}}</p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="socketsService.inARoom">
    <app-waiting></app-waiting>
  </div>
</ion-grid>
