$char-w: 1ch;
$gap: 0.3*$char-w;
$n-char: 20;
$in-w: $n-char*($char-w + $gap);

#roomID{
  margin-left: auto;
  margin-right: auto;
  width: $n-char*($gap+$char-w);
  text-align:left;
  background: repeating-linear-gradient(90deg, dimgrey 0,
    dimgrey $char-w, transparent 0, transparent $char-w + $gap)
  0 100%/ #{$in-w - $gap} 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: $gap;
  --padding-start:0;
}
