ion-col{
  border: 1px solid #000;
}

.noBorders{
  border: none;
}

#id ion-col{
  border: none;
}

#id:hover{
  cursor: pointer;
}

#client{
  font-weight: bold;
}

#host{
  font-size: 1.7em;
  margin-top:10px;
}
