<ion-grid>
  <ion-row>
    <ion-col>
      <ion-row id="id" (click)="copyID()">
        <ion-col>
          <h1>{{socketsService.roomID}}</h1>
        </ion-col>
        <ion-col size="1">
          <ion-button color="clear" style="margin-top:10px;">
            <ion-icon name="copy" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <div *ngFor="let player of socketsService.playersInRoom">
        <ion-row>
          <ion-col>
            <h1>{{player}}</h1>
          </ion-col>
          <ion-col size="1">
            <ion-button color="clear" style="margin-top:10px;" *ngIf="socketsService.playersInRoom[0]!==player && socketsService.playersInRoom[0]===cookiesService.username">
              <ion-icon name="close" slot="icon-only" color="medium"></ion-icon>
            </ion-button>
            <ion-icon name="star" *ngIf="socketsService.playersInRoom[0]===player" id="owner"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col size="3">
      <ion-content>
        DLC
      </ion-content>
    </ion-col>
  </ion-row>
</ion-grid>
